<%- include ('../layouts/admin/adminHeader') %>
<section class="content-main">
    <div class="row justify-content-center mt-30">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Add new Category</h4>
                </div>
                <div class="card-body">
                    <div class="mx-auto"> 
                        <form id="categoryForm" action="/admin/add-category" method="post">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Name</label>
                                <input type="text" placeholder="Type here" class="form-control" name="name" id="product_name" />
                                <p id="nameError" class="text-danger"></p>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" name="description" id="description"
                                    class="form-control"></textarea>
                                <p id="descriptionError" class="text-danger"></p>
                            </div>
                            <!-- Message Display -->
                            <% if (typeof msg !== 'undefined') { %>
                                <div class="mb-4">
                                    <p class="text-success">
                                        <%= msg %>
                                    </p>
                                </div>
                                <% } %>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Create category</button>
                                    </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <%- include ('../layouts/admin/adminFooter') %>